.container {
    width: 200px;
    line-height: 1;
    text-align: center;
    height: 64px;

    h1 {
        font-size: 24px;
        color: #f7f7f7;
        margin: 0;
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }
    }
}
