.card {
    background: #fff;
    margin-bottom: 20px;
    padding: 16px;

    .title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
    }

    .operation {
        display: flex;
        justify-content: space-between;

        button {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
